
.logo{
	
	top: 50px;
	left: 100px;
	width: 242px;
	heigth: 84px;
}

.support{
	
	top: 580px;
	left: 1000px;
	width: 242px; 
	heigth: 84px;
}



.page1{
	
	top: 900px;
	left: 50px;
	width: 242px;
	heigth: 84px;

}